{# vim: set filetype=yaml ts=2 sw=0 expandtab: #}
{% set token = kubeadm_bootstrap_token_id ~ "." ~ kubeadm_bootstrap_token_secret %}
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  podSubnet: {{ kubernetes_pod_subnet }}
# controlPlaneEndpoint: {{ kubernetes_control_plane_endpoint }}
clusterName: {{ kubernetes_cluster_name }}
apiServer:
  certSANs:
    - {{ kubernetes_control_plane_endpoint }}
    - {{ kubernetes_control_plane_endpoint ~ "." ~ domain }}
  extraArgs:
    audit-log-path: /var/log/audit.log
    audit-log-maxage: '30'
    audit-log-maxbackup: '10'
    audit-log-maxsize: '100'
    audit-policy-file: /etc/kubernetes/audit-policy.yaml
    profiling: 'false'
    enable-admission-plugins: DenyServiceExternalIPs,NodeRestriction
    encryption-provider-config: /etc/kubernetes/encryption-configuration.yaml
    request_timeout: {{ kubernetes_request_timeout }}
    tls-cipher-suites: '{{ kubernetes_tls_cipher_suites | join(",") }}'
    kubelet-certificate-authority: /etc/kubernetes/pki/ca.crt
  extraVolumes:
    - name: audit-log
      hostPath: {{ kubernetes_log_file }}
      mountPath: /var/log/audit.log
      pathType: FileOrCreate
    - name: audit
      hostPath: /etc/kubernetes/audit-policy.yaml
      mountPath: /etc/kubernetes/audit-policy.yaml
      pathType: File
      readOnly: true
    - name: encryption
      hostPath: /etc/kubernetes/encryption-configuration.yaml
      mountPath: /etc/kubernetes/encryption-configuration.yaml
      pathType: File
      readOnly: true
controllerManager:
  extraArgs:
    profiling: 'false'
    terminated-pod-gc-threshold: '10'
scheduler:
  extraArgs:
    profiling: 'false'
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
  - token: {{ token }}
    ttl: 1h
localAPIEndpoint:
  bindPort: {{ kubernetes_control_plane_port | default(6443) }}
certificateKey: {{ kubeadm_certificate_key }}
nodeRegistration:
  criSocket: {{ cri_socket }}
{% if kubernetes_control_plane_taints is defined %}
  taints: {{ kubernetes_control_plane_taints | to_yaml }}
{%- endif %}
skipPhases:
  - certs
  - show-join-command
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
tlsMinVersion: VersionTLS12
tlsCipherSuites: {{ kubernetes_tls_cipher_suites | to_yaml }}
