{# vim: set filetype=yaml ts=2 sw=0 expandtab: #}
{% set token = kubeadm_bootstrap_token_id ~ "." ~ kubeadm_bootstrap_token_secret %}
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  podSubnet: {{ kubernetes_pod_subnet }}
# controlPlaneEndpoint: {{ kubernetes_control_plane_endpoint }}
clusterName: {{ kubernetes_cluster_name }}
apiServer:
  certSANs:
    - {{ kubernetes_control_plane_endpoint }}
    - {{ kubernetes_control_plane_endpoint ~ "." ~ domain }}
  extraArgs:
    audit-log-path: /var/log/audit.log
    audit-log-maxage: '30'
    audit-log-maxbackup: '10'
    audit-log-maxsize: '100'
    audit-policy-file: /etc/kubernetes/audit-policy.yaml
    profiling: 'false'
    enable-admission-plugins: DenyServiceExternalIPs,NodeRestriction
  extraVolumes:
    - name: audit-log
      hostPath: {{ kubernetes_log_file }}
      mountPath: /var/log/audit.log
      pathType: FileOrCreate
    - name: audit
      hostPath: /etc/kubernetes/audit-policy.yaml
      mountPath: /etc/kubernetes/audit-policy.yaml
      pathType: File
      readOnly: true
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
  - token: {{ token }}
    ttl: 1h
localAPIEndpoint:
  bindPort: {{ kubernetes_control_plane_port | default(6443) }}
certificateKey: {{ kubeadm_certificate_key }}
nodeRegistration:
  criSocket: {{ cri_socket }}
{% if kubernetes_control_plane_taints is defined %}
  taints: {{ kubernetes_control_plane_taints | to_yaml }}
{%- endif %}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  timeout: 30s
  bootstrapToken:
    token: {{ token }}
    apiServerEndpoint: {{ kubernetes_control_plane_endpoint }}
    caCertHashes:
      - {{ kubeadm_discovery_token_ca_cert_hash }}
controlPlane:
  certificateKey: {{ kubeadm_certificate_key }}
