# vim: set expandtab:
#
# /etc/hosts
#
{% set fmt = '{:15}    {}' %}
{{ fmt.format('127.0.0.1', 'localhost') }}
{{ fmt.format('::1', 'localhost ip6-localhost ip6-loopback') }}
{{ fmt.format('ff02::1', 'ip6-allnodes') }}
{{ fmt.format('ff02::2', 'ip6-allrouters') }}

{{ fmt.format('127.0.0.1', ansible_hostname) }}
